/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

textarea,
input {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End CSS Reset */

@font-face {
  font-family: "Noto Sans";
  src: url(./fonts/Noto_Sans/NotoSans-Medium.ttf);
}

body {
  background-image: url(./assets/marco-meyer-E-C6BJCm6Vo-unsplash.jpg);
  background-size: cover;
  background-position-x: center;
  display: flex;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

a {
  color: #22B24B;
}

a:visited {
  color: lightgreen;
}

a:hover {
  color: #ddd;
}

.image-sidebar {
  min-width: 37.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#logo {
  margin-top: 20%;
}

.image-footer {
  background-color: rgba(0, 0, 0, 0.375);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.375);
  min-width: 100%;
  padding-bottom: 1%;
  text-align: center;
}

.content {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content div {
  flex: 1 1 auto;
  background-color: rgba(60, 46, 96, 0.75);
}

.top-section {
  padding: 5% 17.5% 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 27.5%;
}

.top-section p,
.form-section p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2em;
  max-width: 75em;
  margin-bottom: 1.25rem;
}

em {
  font-style: italic;
}

#sign-up-form {
  background-color: rgba(24, 11, 61, 1);
  padding: 1.25% 27.5% 1.25% 5%;
  margin-bottom: 5%;
  min-height: 40%;
  max-width: 100%;
}

#sign-up-form fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1.5rem;
  column-gap: 4rem;
}

input {
  padding: 2.5% 5%;
  border: 3px solid #888;
  border-radius: 0.375rem;
  width: 100%;
}

label:has(input:required)::after {
  content: "(required)";
  font-size: 0.5rem;
}

input:invalid {
  border: 3px solid red;
}

input:required:valid {
  border: 3px solid #22B24B;
}

input:invalid:placeholder-shown {
  border: 3px solid #888;
}

input:focus,
input:focus:placeholder-shown {
  border: 3px solid lightskyblue;
  box-shadow: 0 0 0.5rem #ddd;
}

label {
  font-size: small;
  color: #ddd;
}

button {
  background-color: #22B24B;
  border-radius: 0.75rem;
  box-shadow: 0.1rem 0.1rem 2rem black;

  color: #fff;
  font-family: 'Noto Sans';
  font-size: 1rem;
  font-weight: 900;
  text-shadow: 1px 1px 10px black;

  margin-bottom: 2rem;
  margin-left: 5%;
  padding: 1.25% 5%;
}

button:hover {
  color: rgba(24, 11, 61, 1);
  cursor: pointer;
  text-shadow: none;
}

button:active {
  background-color: lightgreen;
}

#log-in-text {
  font-size: 1rem;
  font-weight: 100;
  margin-left: 5.5%;
}

/* passwordError class for JS password-matching validation */
input[type="password"].passwordError {
  border: 3px solid red;
}
label:has(input.passwordError)::after {
  content: "passwords do not match";
  color: red;
  font-size: 0.75rem;
  margin-top: 1%;
}