/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Noto Sans";
  src: url(./fonts/Noto_Sans/NotoSans-Medium.ttf);
}

body {
  display: flex;
  align-items: stretch;
  height: 99vh;
  width: 99vw;
  font-family: 'Noto Sans', sans-serif;
}

.image-sidebar {
  min-width: 37.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content div {
  border: 1px solid;
  flex: 1 1 auto;
}

.top-section {
  padding: 5% 17.5% 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 27.5%;
}

.top-section p,
.form-section p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2em;
  max-height: ;
  max-width: 75em;
  margin-bottom: 1.25rem;
}

em {
  font-style: italic;
}

.form-section {
  padding: 1.25% 27.5% 0 5%;
}

#sign-up-form {
  margin-bottom: 5%;
  min-height: 40%;
}

#sign-up-form fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1.5rem;
  column-gap: 4rem; 
}

input {
  width: 100%;
}

button {
  font-family: 'Noto Sans';
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 2rem;
  padding: 2.5% 10%;
}

#log-in-text {
  font-size: 1rem;
  font-weight: 100;
}